<!DOCTYPE html>
<html>
<head>
	<meta name="keywords" content="photography,art,painting,installations,jeff singleton,lancashire,dunsop bridge," />

    <title>Jeff Singleton</title>

    <link href="@Url.Content("~/Content/Reset.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    
    @RenderSection("Styles", false)

</head>

<body>
    <div id="content">

        <div id="main">
            @RenderSection("Main")
        </div>

        <div id="right">

            <div id="title">
                <p id="jeff">Jeff</p>
                <p id="singleton">Singleton</p>
            </div>

            <ul id="nav">
                <li>@Html.ActionLink("Home", "Index", new {controller = "Home"})</li>
                <li>@Html.ActionLink("Gallery", "Index", new { controller = "Gallery", section = 0, order = 1 })</li>
                <li>@Html.ActionLink("CV", "Index", new {controller = "Cv"})</li>
                <li>@Html.ActionLink("Contact", "Index", new { controller = "Contact" })</li>
            </ul>

            <div id="rightContent">
                @RenderSection("Right", false)
            </div>

            <div id="footer">
                <p>ALL WORK SUBJECT TO</p>
                <p>&copy; COPYRIGHT</p>
                <p>JEFF SINGLETON 2011</p>
            </div>
        </div>

    </div>
</body>

	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-22381914-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>

    <script src="@Url.Content("~/Scripts/jquery-1.4.4.js")" type="text/javascript"></script>

    @RenderSection("Scripts", false)
    
</html>
